html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
    background-color: black;
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: rgb(246, 78, 201);
    --c2: rgb(60, 174, 32, 30%);
    --c3: black;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(--bg);
    background-image:
        linear-gradient(0deg, transparent 90%, var(--c2) 100%),
        linear-gradient(90deg, transparent 90%, var(--c2) 100%);
    background-size: 100% 40px, 40px 100%;
    background-position: 0 center, 50% 0;

}

/*FONTS*/
.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 600;
    font-style: normal;
    
}

/*HEADERS*/
h1 {
    font-size: 5vw;
    letter-spacing: .1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 200;
    color: rgb(246, 78, 201, 70%);
    ;
    opacity: 0;
    /* Initially set opacity to 0 for the slide-in effect */
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    text-shadow: -0.6vw 0.6vw 0px #00e6e65a
}

h2 {
    font-size: 3vw;
    letter-spacing: .05em;
    font-weight: 200;
    color: rgb(246, 78, 201, 60%);
    text-shadow: -0.4vw 0.4vw 0px #00e6e65a;
}

h3 {
    font-size: 1.5em;
    letter-spacing: .05em;
    padding-bottom: .5em;
    font-weight: 100;
    color: rgb(246, 78, 201, 60%);
    text-shadow: -2px 2px 0px #00e6e65a;
}

h4 {
    font-weight: 100;

    font-size: 1.2em;
    color: rgb(246, 78, 201, 60%);
    ;

}

h5 {
    font-size: 1em;
    color: rgb(246, 78, 201, 60%);
    

}

h6 {
    font-size: 1em;
    margin-bottom: .1em;
    color: rgb(246, 78, 201, 70%);
    

}


header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #00000098;
    color: rgb(246, 78, 201, 70%);
    text-shadow: -1px 1px 0px #00e6e65a;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.logo {
    letter-spacing: 3px;
    margin: 3px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlink {
    list-style: none;
    margin: 0;
    margin-right: 20px;
}

.navlink a {
    color: rgb(246, 78, 201, 70%);
    text-shadow: -1px 1px 0px #00e6e65a;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
}

@media screen and (max-width: 678px) {
    .burger {
        display: block;
    }

    .nav {
        margin: 0;
        background: #00000098;
        position: absolute;
        right: -20%;
        top: 70px;
        width: 50%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
        display: block;
    }

    .navlink {
        text-align: center;
        margin-right: 0;
    }

    .nav-active {
        right: 0;
    }
    .nav-collapsed {
        visibility: hidden;
    }
}

#title-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    font-size: 1em;

    color: #00e6e6c1;
    margin: .2em auto;
}

hr {
    border: none;
    background-color: #9BA4B5;
    height: 1px;
}

#mainLeft {
    width: 29%;
    float: left;
    opacity: 0;
    /* Initially set opacity to 0 for the slide-in effect */
    transform: translateX(-50px);
    /* Initially set translateX for the slide-in effect */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#mainRight {
    border-left: 1px solid #9BA4B5;
    width: 70%;
    float: right;
    opacity: 0;
    /* Initially set opacity to 0 for the slide-in effect */
    transform: translateX(50px);
    /* Slide in from the right */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

ul {
    list-style-type: circle;
    color: #F1F6F9;

}

.projects {
    padding-left: 2em;

}

.project {
    padding-left: 2em;
}

a {
    color: rgb(246, 78, 201, 70%);
    text-shadow: -1px 1px 0px #00e6e65a;
}

@media (max-width: 767px) {
    #mainContainer {
        flex-direction: column;
        /* Stack on top of each other */
        display: flex;

    }

    #mainRight,
    #mainLeft {
        transform: none;
        /* Remove the horizontal translation */
        width: 100%;
        float: left;

    }
}

.logo {
    width: 0;
    height: 0;
    border-bottom: 20px solid rgb(246, 78, 201, 70%);
    border-right: 20px solid transparent;
}

.skill-progress {
    width: 200px;
    height: 10px;
    background: linear-gradient(90deg, transparent 10%, var(--c2) 10%);
    border: solid rgb(60, 174, 32, 30%);
}

#earth {
    /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
    position: relative;

    /* [2] Set-up the dimensions and spacing */
    width: 300px;
    height: 300px;
    margin: 3em auto;

    /* [3] Prepare the animation effects */
    transition: transform 200ms linear;
    animation: rotate 4s linear infinite;
    /* This is going to be defined in the next step */

    /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
    color: #000;
    border-radius: 50%;
    background-image:
        linear-gradient(0deg, transparent 90%, var(--c2) 100%),
        linear-gradient(90deg, transparent 90%, var(--c2) 100%);
    background-size: 100% 40px, 40px 100%;
    background-position: 0 center, 50% 0;
    box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);

    /* [5] Position things in a 3d space */
    transform-style: preserve-3d;
}

#earth:after {
    /* [1] Break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;

    /* [2] Make it take all the space available in the box (ahem... globe!) */
    width: 100%;
    height: 100%;

    /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
    content: '';

    /* [4] Give it some shape and shadow */
    border-radius: 50%;
    box-shadow: -80px 15px 80px 10px rgba(0, 0, 0, .9) inset;
}

#earth:before {
    /* [1] Again, break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;

    /* [2] Again, give it all the available space */
    width: 100%;
    height: 100%;

    /* [3] Duh. */
    content: '';

    /* [4] Add some shape and overlay effect to it */
    opacity: .2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 630px 0;
    }
}

* {
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .canvas { visibility: hidden;}
    .cube{ visibility: hidden;}
    .face{ visibility: hidden;}
}
.canvas {
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    perspective: 850px;
}
.cube {
    position: absolute;
    width: 100px;
    height: 100px;
    transform-origin: 50% 50% 50px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}
.cube .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    color: transparent;
    -webkit-text-stroke: 5px white;
}
.cube .face:nth-child(1) {
    transform: translateZ(100px);
    background-color:  rgb(60, 174, 32, 30%);
}
.cube .face:nth-child(2) {
    transform-origin: center right;
    transform: rotateY(90deg);
    background-color: rgb(246, 78, 201, 30%);
}
.cube .face:nth-child(3) {
    transform-origin: center center;
    transform: rotateY(180deg);
    background-color:rgb(60, 174, 32, 30%);
}
.cube .face:nth-child(4) {
    transform-origin: center left;
    transform: rotateY(-90deg);
    background-color: rgb(246, 78, 201, 30%);
}
.cube .face:nth-child(5) {
    transform-origin: top center;
    transform: rotateX(90deg);
    background-color: rgba(34, 203, 237, 0.3);
}
.cube .face:nth-child(6) {
    transform-origin: bottom center;
    transform: rotateX(-90deg);
    background-color: rgba(34, 203, 237, 0.3);
}
